/node_modules
/public/hot
/public/storage
/public/adminer.*
/storage/*.key
/storage/framework/laravel-excel/*
/storage/temp
/vendor/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
error_log
_ide_helper_models.php
_ide_helper.php

!/vendor/phpoffice
/vendor/phpoffice/*
!/vendor/phpoffice/phpword
/vendor/phpoffice/phpword/*
!/vendor/phpoffice/phpword/src
/vendor/phpoffice/phpword/src/*
!/vendor/phpoffice/phpword/src/PhpWord
/vendor/phpoffice/phpword/src/PhpWord/*
!/vendor/phpoffice/phpword/src/PhpWord/TemplateProcessor.php